<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Serve Board</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/businesslogin"  style="color:inherit"> SERVE BOARD</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/businessdemand">Demands</a></li>
            <li id="home"><a href="/feedbacks">Feedbacks</a></li>
            <li id="home"><a href="/chat">Chat</a></li>
            <li id="home"><a href="/businesslogin">Logout</a></li>

          
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">