<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Serve Board</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/"> SERVE BOARD</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/userdemand">Make A Demand</a></li>
            <li id="home"><a href="/searchuserdemand">Check Status of Demands</a></li>
            <li id="home"><a href="/submit_feedback">Leave a Feedback</a></li>
            <li id="home"><a href="/chat">Chat</a></li>
            <li id="home"><a href="/userlogin">Logout</a></li>
          
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">