<%- include('partials/header'); %>





    
  <h1>Welcome to Serve Board</h1>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti accusantium facilis voluptatum possimus ullam at, inventore eum autem aperiam aut, cum consequuntur necessitatibus esse voluptas accusamus, dolor officia aspernatur modi.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, veritatis nostrum quia soluta illum accusamus inventore praesentium temporibus iste perspiciatis error nihil assumenda sit enim totam! Magnam, aliquam! Molestiae, perspiciatis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis ad temporibus nesciunt provident vel minus voluptas nulla. Illum delectus architecto ratione, voluptates cumque repellat fugit consequuntur dolores natus corrupti amet.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti saepe, minus eius sint aliquid ab cupiditate assumenda expedita facilis explicabo voluptatibus hic nostrum dolore? Quae soluta accusantium delectus voluptas hic.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti accusantium facilis voluptatum possimus ullam at, inventore eum autem aperiam aut, cum consequuntur necessitatibus esse voluptas accusamus, dolor officia aspernatur modi.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, veritatis nostrum quia soluta illum accusamus inventore praesentium temporibus iste perspiciatis error nihil assumenda sit enim totam! Magnam, aliquam! Molestiae, perspiciatis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis ad temporibus nesciunt provident vel minus voluptas nulla. Illum delectus architecto ratione, voluptates cumque repellat fugit consequuntur dolores natus corrupti amet.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti saepe, minus eius sint aliquid ab cupiditate assumenda expedita facilis explicabo voluptatibus hic nostrum dolore? Quae soluta accusantium delectus voluptas hic.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti accusantium facilis voluptatum possimus ullam at, inventore eum autem aperiam aut, cum consequuntur necessitatibus esse voluptas accusamus, dolor officia aspernatur modi.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, veritatis nostrum quia soluta illum accusamus inventore praesentium temporibus iste perspiciatis error nihil assumenda sit enim totam! Magnam, aliquam! Molestiae, perspiciatis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis ad temporibus nesciunt provident vel minus voluptas nulla. Illum delectus architecto ratione, voluptates cumque repellat fugit consequuntur dolores natus corrupti amet.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti saepe, minus eius sint aliquid ab cupiditate assumenda expedita facilis explicabo voluptatibus hic nostrum dolore? Quae soluta accusantium delectus voluptas hic.
  </p>


<%- include('partials/footer'); %>